.container-form{
    color: var(--text-color);
}


.order-form-container .input input, select#input{
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    color: var(--primary-color);
    outline: none;
    font-size: 1.6rem;
    
}