.container{
    margin-top: 3rem;
}

#form-container{
    margin-top: 3rem;
}

#form-container .form-floating input, select#floatingSelect{
    box-sizing: content-box;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    color: var(--primary-color);
    outline: none;
    font-size: 1.8rem;
    
}

#form-container label, select#floatingSelect label{
    color: var(--text-color);
}

#form-container input:disabled, select:disabled{
    background-color: var(--secondary-bg-color) !important;
    color: var(--text-color) !important;
}

#form-container .form-floating input:focus{
    border-color: var(--secondary-color);
}

.btn-register{
    display: flex;
    justify-content: flex-end;
    
}

.btn-register button{
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    height: 5rem;
    width: 12rem;
    font-size: 1.9rem;
    border-radius: .8rem;
    transition: .3s;
    opacity: .8;
}

.btn-register button:hover{
    opacity: 1;
}