.container{
    max-width: 60vw !important;
}

#order-form-container{
    padding: 1rem !important;
    margin-top: 5rem;
}

#steps{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

div.line{
    z-index: -1;
    position: absolute;
    width: 90%;
    border-bottom: 1px solid var(--border-color);
    top: 30%;
    left: 5%;
    
}

.step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step .icon{
    width: 6rem;
    height: 6rem;
    background-color: var(--secondary-bg-color);
    padding: .9rem;
    border-radius: 30%;
    text-align: center;
    margin-bottom: .5rem;
    
}

.step p{
    color: var(--text-color);
}

.step .active{
    background-color: var(--secondary-color);

}